.text-grey{
  color: #828282;
}

[data-bs-theme="dark"]
.text-grey{
  color: #d9d9d9;
}

.border-white{
  border-color: #fff;
}

.border-grey-light{
  border-color: #e4e4e4;
}

[data-bs-theme="dark"]
.border-grey-light{
  border-color: #2a2a2a;
}

.h-day-cell{
  height: 10rem !important;
  min-height: 10rem !important;
  @media screen and (max-width: 991px){
    height: 8rem !important;
    min-height: 8rem !important;
  }
  @media screen and (max-width: 767px){
    height: 6rem !important;
    min-height: 6rem !important;
  }
}

.fs-day-number{
  font-size: 1.8rem;
}

.fs-circle-sm{
  font-size: .8rem !important;
  @media screen and (max-width: 767px){
    font-size: .5rem !important;
  }
}

.fs-circle-md{
  font-size: 1.6rem !important;
  @media screen and (max-width: 767px){
    font-size: .8rem !important;
  }
}

.fs-circle-lg{
  font-size: 2.2rem !important;
  @media screen and (max-width: 767px){
    font-size: 1.6rem !important;
  }
}

.w-calendar-title {
  width: 22rem;
  min-width:22rem;
  @media screen and (max-width: 767px){
    width: 18rem;
    min-width: 18rem;
  }
}

.w-calendar-month-nav{
  width: 43rem;
  min-width: 43rem;
}

.fs-calendar-title {
  font-size: 2.8rem !important;
  @media screen and (max-width: 767px){
    font-size: 2.2rem !important;
  }
}

.fs-calendar-nav {
  font-size: 1.9rem !important;
  @media screen and (max-width: 767px){
    font-size: 1.6rem !important;
  }
}

.fs-calendar-filter-title{
  font-size: 1.4rem;
}


.fs-calendar-day-nav{
  font-size: 1.2rem !important;
}

.fs-calendar-offcanvas-title{
  font-size: 5rem !important;
  @media screen and (max-width: 991px){
    font-size: 2.8rem !important;
  }
  @media screen and (max-width: 767px){
    font-size: 1.8rem !important;
  }
}

.fs-calendar-offcanvas-header{
  font-size: 2.4rem !important;
  @media screen and (max-width: 991px){
    font-size: 2rem !important;
  }
  @media screen and (max-width: 767px){
    font-size: 1.6rem !important;
  }
}

.fs-calendar-offcanvas-category{
  font-size: 1.5rem !important;
}

.fs-calendar-offcanvas-badge{
  font-size: 1.35rem !important;
  @media screen and (max-width: 991px){
    font-size: 1.25rem !important;
  }
  @media screen and (max-width: 767px){
    font-size: 1.15rem !important;
  }
}

.fs-calendar-offcanvas-text{
  font-size: 1.65rem !important;
  @media screen and (max-width: 991px){
    font-size: 1.45rem !important;
  }
  @media screen and (max-width: 767px){
    font-size: 1.25rem !important;
  }
}

.fs-day-event{
  font-size: .7rem;
}

.fs-calendar-filter{
  font-size: .9rem;
  @media screen and (max-width: 991px){
    font-size: 1.8rem !important;
  }
  @media screen and (max-width: 767px){
    font-size: 1.42rem !important;
  }
}

.input-calendar-filter{
  width: 1.1rem !important;
  height: 1.1rem !important;
  margin-top: 0 !important;
  @media screen and (max-width: 991px){
    width: 2rem !important;
    height: 2rem !important;
  }
  @media screen and (max-width: 767px){
    width: 1.4rem !important;
    height: 1.4rem !important;
  }
}

.rounded-calendar{
  border-radius: 2.25rem;
}

.rounded-calendar-day-cell{
  border-radius: 1.2rem;
}

.border-calendar-filter {
  border-width: .08rem !important;
  @media screen and (max-width: 991px){
    border-width: 1.4rem !important;
  }
  @media screen and (max-width: 767px){
    border-width: 1rem !important;
  }
}

[data-bs-theme="dark"]
.border-calendar-dark-mode-light{
  @media screen and (min-width: 991px){
    border-color: #ccc !important;
  }
}

.swiper-mobile-months {
  width: 100%;
  height: 100%;
}

.slide-month {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-grab:hover {
  cursor: grab;
}

.cursor-pointer:hover{
  cursor: pointer;
}

.hover-effect-up{
  transition: transform .5s;
  &:hover {
    transform: translateY(-.2rem);
  }
}

.month-selected {
  color: var(--mai-body-color) !important;
  font-weight: 400 !important;
}

[data-bs-theme="dark"]
.border-gradient-dark-mode{
  background-image: linear-gradient(144deg, #4d24ff 0%, #c669ff 100%);
  background-origin: border-box;
  border-color: rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0 1000vh var(--mai-body-bg)
}

.bg-white-lg{
  @media screen and (min-width: 991px){
    background-color: rgba(var(--mai-white-rgb), 1) !important
  }
}

[data-bs-theme="dark"]
.bg-white-lg{
  @media screen and (min-width: 991px){
    background-color: rgba(var(--mai-white-rgb), 0) !important
  }
}

.mt-neg-calendar-swiper {
  margin-top: -3.4rem !important;
}

.bg-grey-light {
  background-color: #F3F3F3;
  @media screen and (max-width: 991px){
    background-color: #e4e4e4;
  }
}

[data-bs-theme="dark"]
.bg-grey-light{
  background-color: #2c2c2c;
  @media screen and (max-width: 991px){
    background-color: #1d1d1d;
  }
}

.hover-border{
  &:hover{
    border-color: rgba(17, 17, 17, 0.35) !important;
  }
}

[data-bs-theme="dark"]
.hover-border{
  &:hover{
    border-color: #ccc !important;
  }
}

[data-bs-theme="dark"]
.mx-dark-mode-0{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[data-bs-theme="dark"]
.ms-neg-calendar-border-dark-mode{
  margin-left: -2px !important;
}

.calendar-wrapper {
  min-height: 100vh;
  @media screen and (max-width: 991px){
    max-height: 100dvh;
    overflow: hidden;
  }
}

.swiper-calendar{
  min-height: 100vh;
  @media screen and (max-width: 991px){
    max-height: 100dvh;
  }
}

.w-filter{
  width: 16% !important;
  @media screen and (max-width: 991px){
    width: 100% !important;
  }
}

.text-mobile-uppercase{
  @media screen and (max-width: 991px){
    text-transform: uppercase !important;
  }
}